<div class="modal fade" id="agregar-compra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Compra de Producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formAgregarCompra" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="fechaCompra" class="form-label">Fecha de la compra</label>
            <input [max]="fechaMax" [min]="fechaMin" type="date" class="form-control" id="fechaCompra" name="fechaCompra" formControlName="fechaCompra" required>
            <div *ngIf="formAgregarCompra.get('fechaCompra')?.touched && formAgregarCompra.get('fechaCompra')?.errors" class="error">
              Por favor ingrese la fecha de la compra.
            </div>
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" formControlName="descripcion" required>
            <div *ngIf="formAgregarCompra.get('descripcion')?.touched && formAgregarCompra.get('descripcion')?.errors" class="error">
              Por favor ingrese la descripción de la compra.
            </div>
          </div>
          <div class="mb-3">
            <label for="entrada_cant" class="form-label">Cantidad de Unidades Compradas</label>
            <input type="text" class="form-control" id="entrada_cant" name="entrada_cant" formControlName="entrada_cant" required>
            <div *ngIf="formAgregarCompra.get('entrada_cant')?.touched && formAgregarCompra.get('entrada_cant')?.errors" class="error">
              Por favor ingrese un valor valido en las unidades compradas.
            </div>
          </div>

          <div class="mb-3">
            <label for="entrada_valor" class="form-label">Valor de la compra</label>
            <input type="text" class="form-control" id="entrada_valor" name="entrada_valor" formControlName="entrada_valor" required>
            <div *ngIf="formAgregarCompra.get('entrada_valor')?.touched && formAgregarCompra.get('entrada_valor')?.errors" class="error">
              Por favor ingrese un valor valido en el valor de compra.
            </div>
          </div>
          <div class="mb-3">
            <label for="nit_proveedor" class="form-label">Nit del Proveedor</label>
            <input type="text" class="form-control" id="nit_proveedor" name="nit_proveedor" formControlName="nit_proveedor" required>
            <div *ngIf="formAgregarCompra.get('nit_proveedor')?.touched && formAgregarCompra.get('nit_proveedor')?.errors" class="error">
              Por favor ingrese el nit del proveedor.
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Agregar</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
